<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <div class="row {flexFormData.rowValign} {flexFormData.rowHalign} {flexFormData.rowCustom}">
        <f:render partial="BootstrapGridsColumn" arguments="{contentElements: children_201, class: '{flexFormData.xsCol1} {flexFormData.smCol1} {flexFormData.mdCol1} {flexFormData.lgCol1} {flexFormData.xlCol1} {flexFormData.col41class}', options: options, settings: settings}"/>
        <f:render partial="BootstrapGridsColumn" arguments="{contentElements: children_202, class: '{flexFormData.xsCol2} {flexFormData.smCol2} {flexFormData.mdCol2} {flexFormData.lgCol2} {flexFormData.xlCol2} {flexFormData.col42class}', options: options, settings: settings}"/>
        <f:render partial="BootstrapGridsColumn" arguments="{contentElements: children_203, class: '{flexFormData.xsCol3} {flexFormData.smCol3} {flexFormData.mdCol3} {flexFormData.lgCol3} {flexFormData.xlCol3} {flexFormData.col43class}', options: options, settings: settings}"/>
        <f:render partial="BootstrapGridsColumn" arguments="{contentElements: children_204, class: '{flexFormData.xsCol4} {flexFormData.smCol4} {flexFormData.mdCol4} {flexFormData.lgCol4} {flexFormData.xlCol4} {flexFormData.col44class}', options: options, settings: settings}"/>
    </div>
</f:section>

</html>