<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-bs-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">

    <f:asset.script identifier="swiper-js" src="EXT:fx_muenker/Resources/Public/Vendor/swiper/swiper-bundle.min.js" useNonce="1"/>
    <f:asset.css identifier="swiper-css" href="EXT:fx_muenker/Resources/Public/Vendor/swiper/swiper-bundle.min.css" useNonce="1" />
    <f:asset.script identifier="slider" src="EXT:fx_muenker/Resources/Public/JavaScript/slider.js" useNonce="1" />
    <div class="swiper" id="swiper{f:if(condition:data._LOCALIZED_UID, then:data._LOCALIZED_UID, else:data.uid)}">
        <div class="swiper-wrapper">
            <f:for each="{children_201}" as="child" key="rowNumber">
                <div class="swiper-slide">
                    <f:render partial="Child" arguments="{data: child, children: child.children, options: options, settings: settings}"/>
                </div>
            </f:for>
        </div>
        <div class="swiper-pagination"></div>
    </div>   
</f:section>

</html>