/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/scss/career.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************/
body > header.header {
  background: white;
}
body > header.header:after {
  content: "";
  width: 100%;
  height: 12px;
  position: absolute;
  bottom: -12px;
  left: 0;
  display: block;
  background-repeat: repeat-x;
  background-image: url("../Images/Trapezblech-Linie.png");
  z-index: -1;
}

@media (min-width: 768px) {
  .nav-link {
    position: relative;
    background-color: #CCD5DE;
  }
  .nav-link:after {
    content: "";
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: -12px;
    left: 0;
    display: block;
    background-color: #CCD5DE;
  }
  .nav-link.active:after {
    content: "";
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: -12px;
    left: 0;
    display: block;
    background-color: #082b53;
  }
}
main {
  position: relative;
  overflow: hidden;
  min-height: 50vh;
  margin-bottom: 0;
  padding-bottom: 20px;
}
main:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../Images/Grafik_Hintergrund_Schule.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 992px;
  z-index: -1;
}

.bg-blue-80 {
  background-color: rgba(204, 213, 222, 0.8);
}
