/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/scss/career.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************/
body > header.header {
  background: white;
}
body > header.header:before, body > header.header:after {
  content: "";
  width: 100%;
  height: 12px;
  position: absolute;
  bottom: -12px;
  left: 0;
  display: block;
  background-repeat: repeat-x;
  background-image: url("../Images/Trapezblech-Linie.png");
  z-index: 5;
  pointer-events: none;
}
body > header.header:after {
  background-image: url("../Images/Trapezblech-Linie_white.png");
  z-index: 8;
}

@media (min-width: 768px) {
  .nav-link {
    position: relative;
    background-color: #CCD5DE;
  }
  .nav-link:after {
    content: "";
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: -12px;
    left: 0;
    display: block;
    background-color: #CCD5DE;
    z-index: 6;
  }
  .nav-link.active:after {
    background-color: #082b53;
  }
}
main {
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 135px - 142px);
  margin-bottom: 0;
  padding-bottom: 20px;
  margin-top: 135px;
}
main:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../Images/Grafik_Hintergrund_Schule.svg");
  scale: 1.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 992px;
  z-index: -1;
}

.bg-blue-80 {
  background-color: rgba(204, 213, 222, 0.8);
}

.f-chantal {
  font-family: "Chantal";
}

header h1, header h2, header h3, header h4, header h5, header h6 {
  display: inline-block;
}

.accordion-item {
  border-radius: 0 !important;
  margin-bottom: 1.5rem;
}
.accordion-item > .accordion-header {
  background: none;
}
.accordion-item > .accordion-header .accordion-button {
  background-color: #efefef;
  color: #082b53;
}
.accordion-item .accordion-button:before {
  background: none;
  display: inline-block;
  font-family: "FontAwesome";
  content: "\f054";
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}
.accordion-item .accordion-button.collapsed:before {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.tx-powermail .whatsapp {
  padding-right: 220px;
  position: relative;
}
.tx-powermail .whatsapp:after {
  display: block;
  position: absolute;
  top: 0;
  right: 30px;
  width: 150px;
  height: 100%;
  min-height: 180px;
  content: "";
  background-image: url("../Images/WhatsApp_Logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
    max-width: 500px;
  }
  .navbar-expand-md .navbar-nav .nav-item {
    flex: 0 0 150px;
    text-align: center;
  }
  .navbar-expand-md .navbar-nav .nav-item a {
    text-wrap: nowrap;
  }
  .navbar-expand-md .navbar-nav .nav-item.last a {
    margin-right: 0 !important;
  }
}
.ce-column + .ce-column {
  margin-left: 1.5rem;
}
