/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/scss/rte.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************/
/* shantell-sans-700-normal */
@font-face {
  font-family: "Shantell Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("../Fonts/shantell-sans-latin-700-normal.woff2") format("woff2"), url("../Fonts/shantell-sans-latin-700-normal.woff") format("woff");
}
.f-chantal {
  font-family: "Chantal";
}

.f-myriad {
  font-family: "myriad-pro", sans-serif;
}

.text-justify {
  text-align: justify;
}
