{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement" id="header-nav" class="navbar navbar-toggleable-sm bg-faded clbg-blue rounded">
	<button 
        type="button" 
        class="navbar-toggler navbar-toggler-right" 
        data-toggle="collapse" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbar-collapse-1"
        data-target="#navbar-collapse-1" 
        aria-expanded="false">
		<span class="sr-only navbar-toggler-icon">Toggle navigation</span>
		<i class="fa fa-bars d-lg-none " aria-hidden="true"></i>
	</button>
    <div class="navbar-collapse">
      <ul role="menu" id="navbar-collapse-1" class="level-one collapsed navbar-nav mr-auto me-auto" role="menu">
          <f:for each="{mainNavigation}" as="menuPage" iteration="iteration">
            <li itemprop="name" class="nav-item layout-{menuPage.layout} {f:if(condition:iteration.isFirst, then:'first')} {f:if(condition:iteration.isLast, then:'last')} {f:if(condition:menuPage.active, then:'active')} {f:if(condition:menuPage.current, then:'current')}">
              <f:if condition="{menuPage.children}">
                 <f:then>
                        <a title="{menuPage.title}"
                           aria-label="Lese mehr über {menuPage.title}"
                           itemprop="url" href="{menuPage.link}"
                           {f:if(condition:'{menuPage.data.target}',then:'target="{menuPage.data.target}" rel="noopener"')}
                           class="nav-link ">
                                {menuPage.title}
                        </a>
                        <i class="withsub fa fa-caret-down visible-xs visible-sm" aria-hidden="true" ></i>
                        <ul role="menu" class="level-two" aria-labelledby="dropdown{menuPage.data.uid}">
                            <f:for each="{menuPage.children}" as="level2">
                                <li itemprop="name" class="layout-{level2.data.layout} {f:if(condition:level2.active, then:'active')}{f:if(condition:level2.current, then:'current')}">
                                    <a itemprop="url"
                                       aria-label="Lese mehr über {level2.title}"
                                       {f:if(condition:'{level2.data.target}',then:'target="{level2.data.target}" rel="noopener"')}
                                       title="{level2.title}"
                                       href="{level2.link}">
                                            {level2.title}
                                    </a>
                                    <f:if condition="{level2.children}">
                                        <i class="withsub fa fa-caret-down d-md-none" aria-hidden="true"></i>
                                        <ul role="menu" class="level-three">
                                            <f:for each="{level2.children}" as="level3">
                                                <li itemprop="name" class="layout-{level3.data.layout} {f:if(condition:level3.active, then:'active')}{f:if(condition:level3.current, then:'current')}">
                                                    <a aria-label="Lese mehr über {level3.title}"
                                                       itemprop="url"
                                                       {f:if(condition:'{level3.data.target}',then:'target="{level3.data.target}" rel="noopener"')}
                                                       title="{level3.title}"
                                                       href="{level3.link}">
                                                        {level3.title}
                                                    </a>
                                                </li>
                                            </f:for>
                                        </ul>
                                    </f:if>
                                </li>
                            </f:for>
                        </ul>
                </f:then>
                <f:else>
                    <a title="{menuPage.title}"
                       aria-label="Lese mehr über {menuPage.title}"
                       itemprop="url"
                       href="{menuPage.link}"
                       {f:if(condition:'{menuPage.data.target}',then:'target="{menuPage.data.target}" rel="noopener"')}
                    class="nav-link"
                    aria-haspopup="false"
                    aria-expanded="false">
                     {menuPage.title}
                    </a>
                </f:else>
              </f:if>
            </li>
          </f:for>
        </ul>
    </div>
</nav>