<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <f:variable name="sliderResponsiveColClass" value="" />
    <f:if condition="{data.flexform_loadAsSlider}">
        <f:variable name="sliderResponsiveColClass" value="d-none d-lg-flex" />
    </f:if>
    <f:if condition="{children}">
        <f:if condition="{data.flexform_loadAsSlider}">
            <div id="carousel-c{data.uid}" class="carousel slide d-lg-none" data-bs-ride="carousel">
                <f:comment>
                    <!-- Indikatoren -->
                    <div class="carousel-indicators">
                        <button 
                            type="button"
                            class="active" 
                            aria-current="true"
                            data-bs-target="#carousel-c{data.uid}"
                            data-bs-slide-to="0"
                            aria-label="Slide 1">
                        </button>
                        <button 
                            type="button"
                            data-bs-target="#carousel-c{data.uid}"
                            data-bs-slide-to="1"
                            aria-label="Slide 2">
                        </button>
                    </div>
                </f:comment>
                <!-- Carousel-Inhalte -->
                <div class="carousel-inner">
                    <f:for each="{children}" as="columns" key="rowNumber">
                        <f:if condition="{columns}">
                            <div class="carousel-item active">
                                <f:for each="{columns.101}" as="child">
                                    <f:render partial="Child" arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
                                </f:for>
                            </div>
                            <div class="carousel-item">
                                <f:for each="{columns.102}" as="child">
                                    <f:render partial="Child" arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
                                </f:for>
                            </div>
                        </f:if>
                    </f:for>
                </div>
            
                <!-- Steuerungselemente -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-c{data.uid}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-primary p-4 rounded" aria-hidden="true"></span>
                    <span class="visually-hidden">Vorheriges</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-c{data.uid}" data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-primary p-4 rounded" aria-hidden="true"></span>
                    <span class="visually-hidden">Nächstes</span>
                </button>
            </div>
        </f:if>
        <div class="row {data.flexform_rowValign} {data.flexform_rowHalign} {data.flexform_rowCustom} {sliderResponsiveColClass}">
            <f:for each="{children}" as="columns" key="rowNumber">
                <f:if condition="{columns}">
                    <f:render partial="BootstrapGridsColumn" arguments="{contentElements: columns.101, class: '{data.flexform_xsCol1} {data.flexform_smCol1} {data.flexform_mdCol1} {data.flexform_lgCol1} {data.flexform_xlCol1} {data.flexform_col21class}', options: options, settings: settings}"/>
                    <f:render partial="BootstrapGridsColumn" arguments="{contentElements: columns.102, class: '{data.flexform_xsCol2} {data.flexform_smCol2} {data.flexform_mdCol2} {data.flexform_lgCol2} {data.flexform_xlCol2} {data.flexform_col22class}', options: options, settings: settings}"/>
                </f:if>
            </f:for>
        </div>
    </f:if>
</f:section>

</html>