<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />
<f:section name="Main">
    <nav class="w-100 overflow-auto" aria-label="Sprungmarken zu Buchstaben">
        <ul class="pagination list-unstyled">
        <f:for each="{glossars}" as="letter" key="key">
            <li class="page-item">
                <f:link.page section="{key}" class="page-link">{key}</f:link.page>
            </li>
        </f:for>
        </ul>
    </nav>
   

    <f:for each="{glossars}" as="letter" key="key">
        <h2 id="{key}">{key}</h2>
        <p>
        <f:for each="{letter}" as="glossar" iteration="iterator">
            <f:link.action action="show" arguments="{glossar : glossar}">{glossar.title}</f:link.action>{f:if(condition:'{iterator.isLast}',then:'',else:'<span class="divider">|</span>')}
        </f:for>
        <p>

    </f:for>
</f:section>