<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{gallery.rows}">
    <f:if condition="{data.gallery_style}">
        <f:then>
            <f:render section="{data.gallery_style}" arguments="{_all}" />
        </f:then>
        <f:else>
            <div class="ce-gallery{f:if(condition: data.imageborder, then: ' ce-border')} {f:if(condition:data.image_gallery, then:'d-none d-md-block')}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
                <f:if condition="{gallery.position.horizontal} == 'center'">
                    <div class="ce-outer">
                        <div class="ce-inner">
                </f:if>
                <f:for each="{gallery.rows}" as="row">
                    <div class="ce-row">
                        <f:for each="{row.columns}" as="column">
                            <f:if condition="{column.media}">
                                <div class="ce-column">
                                    <f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
                                </div>
                            </f:if>
                        </f:for>
                    </div>
                </f:for>
                <f:if condition="{gallery.position.horizontal} == 'center'">
                        </div>
                    </div>
                </f:if>
            </div>
        </f:else>
    </f:if>
    <f:if condition="{data.image_gallery}">
        <f:render section="responsiveGallery" arguments="{_all}" />
    </f:if>
</f:if>
<f:section name="thumb-wild">
    <f:asset.script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" identifier="masonry" useNonce="1" />
    <f:asset.script identifier="masonry-{data.uid}" useNonce="1">
        var grid = document.querySelector('.grid');
        var masonry = new Masonry(grid, {
          itemSelector: '.grid-item',
          gutter: 15
        });
    </f:asset.script>
    <div class="grid px-3 pt-3 mx-auto {f:if(condition:data.image_gallery, then:'d-none d-md-block')}">
        <f:for each="{files}" as="image">
            <div class="grid-item">
                <div class="grid-item-content">
                    <f:render partial="Media/Type" arguments="{file: image, dimensions: gallery.rows.1.columns.1.dimensions, data: data, settings: settings}" />
                </div>
            </div>
        </f:for>
    </div>
</f:section>

<f:section name="responsiveGallery">
    <div id="carousel-c{data.uid}" class="carousel slide d-block d-md-none pt-3" data-bs-ride="carousel">
        <!-- Carousel-Inhalte -->
        <div class="carousel-inner">
            <f:for each="{files}" as="image" iteration="fileIterator" key="rowNumber">
                <div class="carousel-item text-center {f:if(condition:fileIterator.isFirst, then:'active')}">
                    <f:render partial="Media/Type" arguments="{file: image, data: data, settings: settings}" />
                </div>
            </f:for>
        </div>
        <!-- Steuerungselemente -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-c{data.uid}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-primary p-4 rounded" aria-hidden="true"></span>
            <span class="visually-hidden">Vorheriges</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-c{data.uid}" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-primary p-4 rounded" aria-hidden="true"></span>
            <span class="visually-hidden">Nächstes</span>
        </button>
    </div>
</f:section>
</html>
