<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-bs-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{children}">
        <f:asset.script identifier="flexslider-js" src="EXT:fx_muenker/Resources/Public/Vendor/flexslider/jquery.flexslider-min.js" />
        <f:asset.css identifier="flexslider-css" href="EXT:fx_muenker/Resources/Public/Vendor/flexslider/flexslider.css" />
        <f:asset.script identifier="flexslider-js-init">
            $('.flexslider').flexslider({
                slideshowSpeed: 5000,
                animationSpeed: 500,
                useCSS: false,
                controlNav: true,
                directionNav: false,
                pauseOnHover: false
            })
        </f:asset.script>
        <div class="flexslider" id="flexslider{f:if(condition:data._LOCALIZED_UID, then:data._LOCALIZED_UID, else:data.uid)}">
            <ul class="slides">
                <f:for each="{children}" as="columns" key="rowNumber">
                    <f:if condition="{columns.101}">
                        <f:for each="{columns.101}" as="child" iteration="iteration">
                            <li>
                                <f:render partial="Child" arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
                            </li>
                        </f:for>
                    </f:if>
                </f:for>
            </ul>
        </div>   
    </f:if>
</f:section>

</html>